.submit-btn-div {
  display: flex;
  flex-direction: row;
  /* height: 40px; */
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.submit-btn {
  background-color: white;
  border: solid 2px black;
  border-radius: 8px;
  width: auto;
  height: auto;
}
