.dont-have-account {
  display: flex;
  justify-content: center;
}
.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forgot-password {
  display: flex;
  justify-content: center;
}
.underlined {
  text-decoration: underline;
}
