.passwords {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.passwords .input-container {
  display: flex;
  flex-direction: column;
}

.passwords input {
  width: 200px;
  height: auto;
  margin: 5px;
  border: 2px solid black;
  border-radius: 8px;
}

label {
  margin-left: 5px;
}

.btn-link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.btn-link-container .login-link {
  margin-top: 10px;
}

.underlined {
  text-decoration: underline;
}
